<!DOCTYPE html>
<html>
<head>
  <title>Belajar angularJS</title>
  <script src="angular.min.js"></script>
</head>
<body ng-app>
  <input type="number" ng-model="bil1" placeholder="inputkan bilangan 1">
  <br>
  <input type="number" ng-model="bil2" placeholder="inputkan bilangan 2">
  <br>
  <input type="radio" ng-model="jlm" ng-value="bil1+bil2" name='hit'>tambah
  <br>
  <input type="radio" ng-model="jlm" ng-value="bil1-bil2" name='hit'>kurang
  <br>
  <input type="radio" ng-model="jlm" ng-value="bil1*bil2" name='hit'>kali
  <br>
  <input type="radio" ng-model="jlm" ng-value="bil1/bil2" name='hit'>bagi
  <br> hasilnya : {{jlm}}
</body>
</html>